.admin{
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    width: 100vw;
    height: 89vh;
    padding-top: 14%;
    text-align: center;
    color: #e9ecef;
}

.admin input{
    border: none;
    border-radius: 5px;
    width: 30%;
    height: 30px;
    box-shadow: #e9ecef;
}

.admin button{
    border: none;
    border-radius: 5px;
    width: 30%;
    height: 30px;
    box-shadow: #e9ecef;
    background-color: #00b894;
    color: #e9ecef;
    cursor: pointer;
}