.btnlgin {
  border: none;
  width: 40%;
  border-radius: 5px;
  background-color: rgb(24, 212, 150);
  height: 30px;
  color: aliceblue;
  cursor: pointer;
}

.login {
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: #e9ecef;
}

.form {
  margin-top: 200px;
  color: black;
}

.form input {
  border-color: black;
  width: 40%;
  height: 30px;
  border-radius: 5px;
}
